version 5.249.0

framework: auto-detect

group build

    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Environment
    nuget Fake.Core.Target
    nuget Fake.Core.Trace
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git

group consoles

    source https://api.nuget.org/v3/index.json
    storage: none

	nuget FSharp.Core
    nuget FSharp.Data.Adaptive ~> 0.0.25
    nuget Giraffe.SerilogExtensions
	nuget Serilog
	nuget Serilog.Settings.Configuration
	nuget Serilog.Sinks.Console

group tests

    source https://api.nuget.org/v3/index.json
    storage: none

    nuget Expecto

group ui

    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Data.Adaptive ~> 0.0.26
    nuget Fable.Core
	nuget Fable.Elmish.React
	nuget Fable.MaterialUI.Icons
	nuget Fable.MaterialUI.MaterialDesignIcons
    nuget Feliz
    nuget Feliz.MaterialUI
    nuget Feliz.UseWorker ~> 0.4.2 // pinned because 0.5.0 requires Feliz >= 1.5.0 but no such version exists
	nuget Thoth.Elmish.Toast
    // github krauthaufen/Fable.Elmish.Adaptive // using copies of relevant files instead because requires Fable.Promise < 2.1.0 but Feliz.UseWorker requires Fable.Promise >= 2.1.0
